/*imports*/
@import url("https://use.typekit.net/aev7wdh.css");
@import url('http://fonts.cdnfonts.com/css/old-london');

/*standard*/
body {
    background-color: #1F1F1F;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
}

/*containers*/
.container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.video-container {
    text-align: center;
    overflow: hidden
}
#goal-container {
    margin-top: 50px;
    opacity: 0;
    transition: 2s;
}
footer {
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

/*text*/
h3 {
    font-family: birra, sans-serif; 
    color: #da8193;
    margin: 0;
    font-size: 20px;
}
#question {
    color: #F20530;
    font-family: coolvetica, sans-serif;
    font-size: 35px;
}
#subtitle {
    font-size: 15px;
}
#text {
    font-size: 13px;
}
p {
    color: white;
}

/*video*/
video {
    margin-bottom: -10px;
}

.video-container #video{
    position: relative;
    left: 10px;
}

@media screen and (max-width: 300px) {
    video {
        width: 100vw;
    }
}