@import url("https://use.typekit.net/aev7wdh.css");
@import url('http://fonts.cdnfonts.com/css/old-london');

body {
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

h3 {
    font-family: birra, sans-serif; 
    color: #da8193;
    margin: 0;
    font-size: 25px;
}

#question {
    color: #F20530;
    font-family: coolvetica, sans-serif;
    font-size: 45px;
}

#subtitle {
    font-size: 15px;
}

.img-container {
    text-align: center;
    margin-bottom: -10px;
}

img {
    width: 500px;
}

@media screen and (max-width: 500px) {
    img {
        width: 100vw;
    }
}

.goal {
    margin-top: 50px;
}

p {
    color: white;
}

footer {
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}